{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content%}

  <h1>Habit detail</h1>

  <br>

  <div class="d-flex align-items-center">
    <h1 class="mr-3">{{ habit.name }}</h1>
    <a href="{% url 'tracker:habit-update' pk=habit.id %}" class="btn btn-secondary mr-2">
      ✏️
    </a>
    <a href="{% url 'tracker:habit-delete' pk=habit.id %}" class="btn btn-danger">
      🗑️
    </a>
  </div>
  (start - {{ habit.created_at }})
  <br><br>
  <h4>description:</h4>{{ habit.description }}
  <h3>month goal:</h3> {{ habit.month_goal }}
{#  <h2>Today check:</h2> {{ habit_completions.get_status_display }}#}
  <br>

  {% if not completion_status_today %}
  <form method="POST">
    {% csrf_token %}
    <div class="form-check">
      {{ day_completion_form.as_p }}
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {% endif %}

  {# ------ #}
{#  !!!!!! {{ habit.habit_completions.all }}#}
{# ------ #}
{#  {% url "tracker:habit-completion-update" pk=habit.pk completion_pk=completion.pk %}#}
<br><br>
{% if habit.habit_completions.all %}
  <h2>Completion history:</h2>
  {% for completion in habit.habit_completions.all %}
{#  <a href="{% url "tracker:habit-completion-update" pk=habit.pk completion_pk=completion.pk %}" class="btn btn-primary">#}
{#    Update today status#}
{#  </a>#}
{% endfor %}
  <br><br>
    total days from start = {{ total_days }}
    <br>
    days complete = {{ completed_days }}
    <br>
    days ignored = {{ ignored_days }}
    <br>
    days pass = {{ not_completed_days }}
    <br>
    focus % = {{ progress_percent }}  %
  <div style="display: flex; align-items: center;">
    <p style="margin-right: 10px;">
    </p>

    <div class="progress" style="width: 20%;">
      <div class="progress-bar" role="progressbar" style="width: {{ progress_percent }}%;"
           aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        {{ progress_percent }}%
      </div>
    </div>
  </div>

    <br>
  <ul>
    {% regroup habit.habit_completions.all by complete_date|date:"Y-m-d" as completion_grouped %}
    {% for group in completion_grouped %}
      {% with group.list|last as completion %}
        <li>
          {{ completion.complete_date }} - {{ completion.get_status_display }}

        </li>
      {% endwith %}
    {% endfor %}
  </ul>
{% endif %}


  <br><br><br>
<div class="row">
  <div class="col-md-6">
    <h3>Leave a Comment</h3>
    <form method="POST" action="{% url 'tracker:habit-commentary-create' pk=habit.pk %}" class="form">
      {% csrf_token %}
      <div class="form-group">
        {{ commentary_form.text|as_crispy_field }}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div class="col-md-6">
    <h3>Comment Zone:</h3>
    <ul class="list-group">
      {% for comment in habit_commentaries %}
        <li class="list-group-item">
          <h4>{{ comment.text }}</h4>
          <small>(Comment by: {{ comment.user }} at {{ comment.created_at.time }} {{ comment.created_at.date }})</small>
        </li>
      {% empty %}
        <li class="list-group-item">No comments yet.</li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
{#  <form method="POST" action="{% url 'tracker:habit-commentary-create' pk=habit.pk %}" >#}
{#    {% csrf_token %}#}
{#    {{ commentary_form|crispy }}#}
{#    <button type="submit" class="btn btn-primary">Submit</button>#}
{#  </form>#}
{#  <br>#}
{#  <br>#}
{#      Comment zone:#}
{#    <ul>#}
{#    {% for comment in habit_commentaries %}#}
{#      <li>#}
{#        <h2>{{ comment.text }}</h2>#}
{#        (Comment by: {{ comment.user }} at {{ comment.created_at.time }} {{ comment.created_at.date }})#}
{#      </li>#}
{#    {% empty %}#}
{#      <p>No comments yet.</p>#}
{#    {% endfor %}#}
{#  </ul>#}
{#{% endblock %}#}