{% extends "base.html" %}

{% block content%}
  <h1>Habit detail</h1>

  <br>

  <h1>{{ habit.name }}</h1>
  (start - {{ habit.created_at }})
  <h4>description:</h4>{{ habit.description }}
  <h3>month goal:</h3> {{ habit.month_goal }}
  <br>
  Did you do your task today?
  <a href="" class="btn btn-success">
    Yes
  </a>
  <a href="" class="btn btn-danger">
    No
  </a>

{#  if month goal achive than next month goal or goal year goal #}
  <br>
    <br><br>
    <a href="{% url "tracker:habit-commentary-create" pk=habit.id%}">
        Create commentary
    </a>
  <br>
      Comment zone:
    <ul>
    {% for comment in habit_commentaries %}
      <li>
        <h2>{{ comment.text }}</h2>
        (Comment by: {{ comment.user }} at {{ comment.created_at.time }} {{ comment.created_at.date }})
      </li>
    {% empty %}
      <p>No comments yet.</p>
    {% endfor %}
  </ul>
{% endblock %}
