{% extends "base.html" %}

{% block content %}
  <h1>index.html</h1>
  <h3>Goals progress:</h3>

  <div style="display: flex; align-items: center;">
    <p style="margin-right: 10px;">"10" Active Goals(
      <a href="#">
      link to goals
      </a>)
    </p>

    <div class="progress" style="width: 10%;">
      <div class="progress-bar" role="progressbar" style="width: 50%;"
           aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        50%
      </div>
    </div>
  </div>

   <div style="display: flex; align-items: center;">
    <p style="margin-right: 10px;">"2" Abandon goals(
      <a href="#">
      link to goals
      </a>)
    </p>

    <div class="progress" style="width: 10%;">
      <div class="progress-bar" role="progressbar" style="width: 10%;"
           aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        10%
      </div>
    </div>
  </div>

  <div style="display: flex; align-items: center;">
    <p style="margin-right: 10px;">"3" Complete goals(
      <a href="#">
      link to goals
      </a>)
    </p>

    <div class="progress" style="width: 10%;">
      <div class="progress-bar" role="progressbar" style="width: 78%;"
           aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
        78%
      </div>
    </div>
  </div>



  <h3>Habit progress:</h3>
    <p>"5" Active Habits(link to habit)</p>


{% endblock content %}