{% extends "base.html" %}

{% block content %}
<div style="text-align: center;">
  <h1>You have {{ total_goals_number }} goals:</h1>
</div>

  <br>
  <div class="goal-container">
    <div class="goal">
      <p class="goal-title">
        Active Goals:
        <a href="{% url "tracker:goal-list" %}?status=active">View all({{ active_goals_number }})</a>
      </p>
      <div class="progress-bar-container">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ active_goals_percent }}%;">
          {{ active_goals_percent }}%
        </div>
      </div>
    </div>

<div class="goal">
  <p class="goal-title">
    Abandoned Goals:
    <a href="{% url "tracker:goal-list" %}?status=abandoned">View all({{ abandoned_goals_number }})</a>
  </p>
  <div class="progress-bar-container">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ abandoned_goals_percent }}%;">
      {{ abandoned_goals_percent }}%
    </div>
  </div>
</div>

<div class="goal">
  <p class="goal-title">
    Completed Goals:
    <a href="{% url "tracker:goal-list" %}?status=completed">View all({{ completed_goals_number }})</a>
  </p>
  <div class="progress-bar-container">
    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ completed_goals_percent }}%;">
      {{ completed_goals_percent }}%
    </div>
  </div>
</div>
  </div>
  <br><br>

 <div style="text-align: center;">
  <h1>You have {{ habits_number }} habits:</h1>
</div>
  <br>
<div class="table-responsive" style="width: 70%; margin: 0 auto;">
  <table class="table table-bordered table-hover table-striped" style="margin: 0 auto;">
    <thead class="bg-dark text-white">
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Month Goal</th>
        <th>Start Date</th>
      </tr>
    </thead>
    <tbody>
      {% for habit in habits_objects %}
      <tr>
        <td><a href="{% url "tracker:habit-detail" pk=habit.pk %}" class="text-decoration-none">{{ habit.name }}</a></td>
        <td>{{ habit.description }}</td>
        <td>{{ habit.month_goal }}</td>
        <td>{{ habit.created_at.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
