{% extends "base.html" %}

{% block content%}
  <h1>Goal detail</h1>

  <br>

  <div class="d-flex align-items-center">
    <h1>{{ goal.name }}</h1>
    <a href="{% url "tracker:goal-update" pk=goal.id %}" class="btn btn-secondary">
      ✏️
    </a>
    <a href="{% url "tracker:goal-delete" pk=goal.id %}" class="btn btn-danger">
      🗑️
    </a>
   </div>

  {% if goal.status == "active" %}
  <div class="btn btn-success">
    {{ goal.status }}
    <a href="{% url "tracker:goal-update-status" pk=goal.pk%}">
      Done
    </a>
  </div>

    <div class="btn btn-secondary">
      <a href="{% url "tracker:goal-update-status-abandoned" pk=goal.pk%}">
        abandon
      </a>
    </div>

    {% elif goal.status == "abandoned" %}
       <div class="btn btn-secondary">
        {{ goal.status }}
        <a href="{% url "tracker:goal-update-status-abandoned" pk=goal.pk%}">
          reactive
        </a>
      </div>

    {% else %}
      <div class="btn btn-danger">
      {{ goal.status }}
      <a href="{% url "tracker:goal-update-status" pk=goal.pk%}">
        reactivate
      </a>
  </div>
  {% endif %}

  <br><br><br><br>




  <h3>deadline:</h3>{{ goal.deadline }}
  <h3>description:</h3>{{ goal.description }}
  <br>
  <a href="{% url "tracker:goal-create-stage" goal_id=goal.id %}">
    Create stage
  </a>
  <ul>
  {% for stage in goal_stages %}
    <li>
      <div class="d-flex align-items-center">
        <h1>{{ stage.stage_name }}</h1>
        <a href="{% url "tracker:goal-update-stage" pk=stage.pk goal_id=goal.id %}" class="btn btn-secondary">
          ✏️
        </a>
        <a href="{% url "tracker:goal-delete-stage" pk=stage.pk goal_id=goal.id%}" class="btn btn-danger">
          🗑️
        </a>
      </div>
    </li>
    stage_description = {{ stage.description }}
    <br>
    stage_deadline = {{ stage.deadline.date }}
    <br>
    stage_created_at = {{ stage.created_at }}
  {% endfor %}
    <br><br>
    <a href="{% url "tracker:goal-commentary-create" pk=goal.id%}">
        Create commentary
    </a>
  <br>
      Comment zone:
    <ul>
    {% for comment in goal_commentaries %}
      <li>
        <h2>{{ comment.text }}</h2>
        (Comment by: {{ comment.user }} at {{ comment.created_at.time }} {{ comment.created_at.date }})
      </li>
    {% empty %}
      <p>No comments yet.</p>
    {% endfor %}
  </ul>
{% endblock %}
