{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content%}
  <div class="d-flex justify-content-center align-items-center flex-column">
  <h1 class="text-center mb-5">Goal List</h1>

<form action="" method="get">
  <div class="form-group">
    <div class="input-group">
      {{ search_form|crispy }}
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary">🔍</button>
      </div>
    </div>
  </div>
</form>

  <div class="mb-5">
    <h3>View goals by status:</h3>

    <ul class="list-unstyled">
      <li><a href="{% url "tracker:goal-list-active" %}" class="text-decoration-none">Active goals</a></li>
      <li><a href="{% url "tracker:goal-list-completed" %}" class="text-decoration-none">Completed goals</a></li>
      <li><a href="{% url "tracker:goal-list-abandoned" %}" class="text-decoration-none">Abandoned goals</a></li>
    </ul>
  </div>

  <a href="{% url 'tracker:goal-create' %}" class="btn btn-primary mb-3">Create a new goal</a>
  </div>
  {% if goal_list %}
    <ul class="list-unstyled">
      {% for goal in goal_list %}
        <li class="border rounded p-3 mb-3">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="m-0"><a href="{% url "tracker:goal-detail" pk=goal.id %}" class="text-decoration-none">{{ goal.name }}</a></h3>
            {% if goal.status == "active" %}
              <span class="badge badge-primary">Active</span>
            {% elif goal.status == "completed" %}
              <span class="badge badge-success">Completed</span>
            {% else %}
              <span class="badge badge-danger">Abandoned</span>
            {% endif %}
          </div>
          <p class="mt-3">{{ goal.description }}</p>
          <p class="mb-0"><strong>Deadline:</strong> {{ goal.deadline.date }}</p>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No goals found.</p>
  {% endif %}

{% endblock %}
